<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'index')}">

<body>

<div class="jumbotron text-center">
  <div class="container">
    <a href="/" class="lang-logo">
      <img src="/1024px-Counter-Strike_CS_logo.svg.png" width ="250">
    </a>
    <h1>Welcome to Curtis Share!</h1>
    <p>We are about to start a great experience!, come on, <br />everyone is welcome to learn with clear contents with excellent quality</p>
    <a type="button" class="btn btn-lg btn-default" href="/getstarted"><span class="glyphicon glyphicon-flash"></span>Getting Started With Curtis</a>
    <a type="button" class="btn btn-lg btn-primary" href="/more"><span class="glyphicon glyphicons-resize-full"></span> What content we offer?</a>
  </div>
</div>
<div class="container">
  <div class="alert alert-info text-center" role="alert">
    Our site and contents are  completely legal, do not forget to read our<a href="/terms" class="alert-link">Terms And Conditions</a>.
  </div>
  <hr>
  <div class="row">
    <div class="col-md-6">
      <h3><span class="glyphicon glyphicon-info-sign"></span> How Curtis Share Works?</h3>
      <ul>
        <li>We have Media Content, organized as you want, like your room!.</li>
        <li>Timeline?, eaaaasy!</li>
        <li>Do you want to see old content? Done.</li>
        <li>Do you want to Share With Others? Spread  the Word!.</li>
        <li>You can rate our Publishers, Curtis will be looking!.</li>
      </ul>
    </div>
    <div class="col-md-6">
      <h3><span class="glyphicon glyphicon-link"></span> Who is Curtis?</h3>
      <ul>
        <li>Well, to be Honest we have the same question, sometimes is a very funny person, sometimes he is like a supervisor but always is looking to share some important things to help you!</li>
        <li>We can give you a clue, is not a cat!</li>
        <li>is not a product of our imagination!</li>
        <li>is just Curtis!!, your next friend</li>
      </ul>
     
    </div>
  </div> <!-- row -->
  
</div>

</body>
</html>
